@font-face {
font-family: blackFlag;
src: url('friz_quadrata.ttf')
}

body {
background-color:#999999;
font-family: blackFlag;
color:#333;
margin:0;
padding:0;
}

p {
	font-family: sans-serif;
}

li {
	font-family: sans-serif;
}

.myButton {
background-color:#666666;
border:none;
font-family:blackFlag;
}

.myButton:active {
background-color:#006600;
font-family:blackFlag;
}

a:link {
COLOR: #006600;
}

a:visited {
COLOR: #006633;
}

a:hover {
COLOR: #003333;
}

a:active {
COLOR: #00FF00;
}

.box {
position:absolute;
font-family:blackFlag;
}

#revealUp {
position:absolute;
overflow:hidden;
display:none;
bottom:0;
background-color:#c00
height:0;
}

#box {
border:none;
font-family:blackFlag;
}


#wrapper {
width:960px;
background-color:#999999;
margin:0 auto;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
}

#header {
width:960px;
height:135px;
margin:0 auto;
margin-bottom:25px;
border-bottom:1px solid #ccc;
border-top:1px solid #ccc;
}

#header h2 {
padding:10px;
}

#nav {
font-family:sans-serif;
width:960px;
height:40px;
border-bottom:1px solid #ccc;
}

#nav a {
display:inline;
padding:10px;
text-decoration:underline;
background:color:f1f1f1;
}

#nav a:hover {
background-color:#bababa;
height:80px;
}

#button {
width:960px;
height:68px;
border-bottom:1px solid #ccc;
font-family:blackFlag;
}


#content {
width:725px;
float:left;
padding:10px;
}



#sidebar {
width:200px;
float:right;
margin-bottom:25px;
}

#sidebar a {
text-decoration:none;
}

#sidebar li {
list-style:none;
}

#footer {
clear:both;
width:960px;
height:135px;
border-top:1px solid $ccc;
border-bottom:1px solid $ccc;
}

#footer p {
padding:10px;
}

               
